<igx-navbar class="navigation_bar_1">
  <igx-navbar-title class="navbar-content">
    <div [igxToggleAction]="navigationdrawer1" class="row-layout row_layout_1">
      <igx-icon class="icon_12">
        menu
      </igx-icon>
      <p class="content">
        <span class="full-text">3D Печат услуги</span>
        <span class="short-text">3D Печат</span>
      </p>
    </div>
    <button igxButton="flat" type="button" [routerLink]="[`/`]" class="button_home">
      Начало
    </button>
    <button igxButton="flat" type="button" [routerLink]="[`/portfolio`]" class="button_home">
      Портфолио
    </button>
    <button igxButton="flat" type="button" [routerLink]="[`/products`]" class="button_home">
      Продукти
    </button>
    <button igxButton="flat" type="button" [routerLink]="[`/prices`]" class="button_home">
      Цени
    </button>
    <button igxButton="flat" type="button" [routerLink]="[`/contact`]" class="button_home">
      Обадете се
    </button>
  </igx-navbar-title>
  <button igxIconButton="flat" class="icon_button_5" aria-label="Търсене">
    <igx-icon class="icon">
      search
    </igx-icon>
  </button>
  <button igxIconButton="flat" [routerLink]="[`/contact`]" class="icon_button_5" aria-label="Свържете се с нас">
    <igx-icon class="icon">
      phone
    </igx-icon>
  </button>
</igx-navbar>
<div class="row-layout horizontal_group_1">
  <igx-nav-drawer [isOpen]="true" [pin]="true" width="232px" #navigationdrawer1 class="navigation_drawer_1">
    <ng-template igxDrawer>
      <div igxDrawerItem (click)="navigate('/')" [active]="isActive(`/`)">
        <igx-icon class="icon_12">
          home_work
        </igx-icon>
        <span>Начало</span>
      </div>
      <div igxDrawerItem (click)="navigate('/portfolio')" [active]="isActive(`/portfolio`)">
        <igx-icon class="icon_12">
          co_present
        </igx-icon>
        <span>Портфолио</span>
      </div>
      <div igxDrawerItem (click)="navigate('/products')" [active]="isActive(`/products`)">
        <igx-icon class="icon_12">
          inventory_2
        </igx-icon>
        <span>Продукти</span>
      </div>
      <div igxDrawerItem (click)="navigate('/prices')" [active]="isActive(`/prices`)">
        <igx-icon class="icon_12">
          euro
        </igx-icon>
        <span>Цени</span>
      </div>
      <div igxDrawerItem (click)="navigate('/contact')" [active]="isActive(`/contact`)">
        <igx-icon class="icon_12">
          call
        </igx-icon>
        <span>Свържете се с нас</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
  <div class="column-layout group">
    <main class="main_view_container_2">
      <router-outlet></router-outlet>
    </main>
    <footer class="column-layout footer_section">
      <div class="row-layout row_layout_-6">
        <div class="row-layout row_layout_-5">
          <div class="column-layout column_layout">
            <div class="row-layout row_layout">
              <igx-icon class="icon_site_footer">
                print
              </igx-icon>
              <p class="ig-typography__subtitle-2 title_site_footer">
                3D Печат Услуги
              </p>
            </div>
            <p class="ig-typography__body-2 content_2">
              София, България
            </p>
            <div class="row-layout row_layout_-1">
              <igx-icon family="imx-icon" name="imx-twitter" class="icon_site_footer" role="button" tabindex="0" aria-label="Twitter профил"></igx-icon>
              <igx-icon family="imx-icon" name="imx-facebook" class="icon_site_footer" role="button" tabindex="0" aria-label="Facebook страница"></igx-icon>
              <igx-icon family="imx-icon" name="imx-instagram" class="icon_site_footer" role="button" tabindex="0" aria-label="Instagram профил"></igx-icon>
            </div>
          </div>
          <div class="column-layout column_layout">
            <p class="ig-typography__subtitle-2 content">
              Quick Links
            </p>
            <a class="ig-typography__body-2 content_2">
              About Us
            </a>
            <a class="ig-typography__body-2 content_2">
              Our Fleet
            </a>
            <a class="ig-typography__body-2 content_2">
              Pricing
            </a>
            <a class="ig-typography__body-2 content_2">
              FAQ
            </a>
          </div>
          <div class="column-layout column_layout">
            <p class="ig-typography__subtitle-2 content">
              Legal
            </p>
            <a class="ig-typography__body-2 content_2">
              Privacy Policy
            </a>
            <a class="ig-typography__body-2 content_2">
              Terms of Service
            </a>
            <a class="ig-typography__body-2 content_2">
              Cookie Policy
            </a>
            <a class="ig-typography__body-2 content_2">
              User Agreement
            </a>
          </div>
          <div class="column-layout column_layout_-3">
            <p class="ig-typography__subtitle-2 content">
              Contact Us
            </p>
            <div class="row-layout row_layout_-2">
              <igx-icon class="icon_mail_footer">
                mail_outline
              </igx-icon>
              <a class="ig-typography__body-2 link_customer_support_footer">
                Customer Support
              </a>
            </div>
            <div class="row-layout row_layout_-2">
              <igx-icon class="icon_mail_footer">
                phone
              </igx-icon>
              <p class="ig-typography__body-2 content_2">
                +359 883 31 06 16
              </p>
            </div>
            <div class="row-layout row_layout_-2">
              <igx-icon class="icon_mail_footer">
                business
              </igx-icon>
              <p class="ig-typography__body-2 content_2">
                София, Симеоновско шосе 110Б, ет.2
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row-layout row_layout_-7">
        <p class="ig-typography__body-2 content_2">
          © 2025 3dpechat.bg - All Rights Reserved
        </p>
      </div>
    </footer>
  </div>
</div>
