:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
}
.navigation_bar_1 {
  --igx-navbar-text-color: var(--ig-surface-500-contrast);
  --igx-navbar-background: var(--ig-surface-500);
  z-index: 1;
  position: sticky;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.navigation_drawer_1 {
  min-width: min-content;
  min-height: 0;
  max-width: 232px;
  flex-shrink: 0;
}
.main_view_container_2 {
  overflow: auto;
  position: relative;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
}
.navbar-content {
  gap: 1rem;
}
.row-layout {
  display: flex;
}
.row_layout_1 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.horizontal_group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.footer_section {
  background-color: var(--ig-surface-150);
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.row_layout_-6 {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 20px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.row_layout_-5 {
  background-color: transparent;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 320px;
  max-width: 1200px;
  flex-grow: 1;
  flex-basis: 0;
}
.column_layout {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 3px;
  position: relative;
  min-width: 120px;
  flex-grow: 1;
  flex-basis: 0;
}
.row_layout {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.row_layout_-1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 4px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.column_layout_-3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 3px;
  position: relative;
  min-width: 240px;
  flex-grow: 1;
  flex-basis: 0;
}
.row_layout_-2 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  height: max-content;
  min-width: max-content;
  flex-shrink: 0;
}
.row_layout_-7 {
  border-color: var(--ig-gray-400);
  border-width: 1px 0px 0px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 0;
  position: relative;
  padding-right: 32px;
  padding-left: 32px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.icon_12 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.content {
  height: max-content;
  min-width: min-content;
  
  .short-text {
    display: none;
  }
  
  .full-text {
    display: inline;
  }
  
  @media (max-width: 480px) {
    .short-text {
      display: inline;
    }
    
    .full-text {
      display: none;
    }
  }
}
.icon {
  color: var(--ig-surface-500-contrast);
}
.icon_site_footer {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--ig-gray-600);
}
.title_site_footer {
  color: var(--ig-gray-900);
  height: max-content;
  min-width: min-content;
}
.content_2 {
  color: var(--ig-gray-700);
  height: max-content;
  min-width: min-content;
}
.icon_mail_footer {
  --size: 18px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: var(--ig-gray-600);
}
.link_customer_support_footer {
  color: var(--ig-gray-700);
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.button_home {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  
  @media (max-width: 568px) {
    display: none;
  }
}
.icon_button_5 {
  --foreground: var(--ig-surface-500-contrast);
}
