<div class="row-layout row_layout_main_hero">
  <div class="row-layout row_layout_main_hero_content">
    <div class="column-layout column_layout_hero_text">
      <h1 class="content">
        Професионален 3D печат и 3D принтиране по поръчка
      </h1>
      <p class="content">
        Предлагаме професионален 3D печат и 3D принтиране по поръчка за прототипи, функционални детайли и малки серии. Работим с прецизност, качествени материали и кратки срокове, подходящи както за индивидуални клиенти, така и за бизнес проекти. Независимо дали имате готов модел или идея, която искате да реализирате, ние ще ви съдействаме на всеки етап от процеса.
      </p>
      <div class="column-layout hero_action_buttons">
        <div class="row-layout hero_buttons_row">
          <button igxButton="contained" type="button" class="main_action_button">
            Разгледайте портфолиото
          </button>
          <button igxButton="outlined" type="button" class="main_action_button">
            Свържете се с нас
          </button>
        </div>
        <p class="hero_engage_statement">
          Нека ви асистираме за вашият проект днес, вижте идеите си да оживяват.
        </p>
      </div>
    </div>
    <img src="/assets/Auto%20generated%20image%20for%2051caed24-3afc-45cb-a16b-58df4bb1e20b-1536f1b9-a1c5-45ac-ba49-a28c50ade473.png" alt="3D печат услуги - професионално 3D принтиране" class="hero_image_main" />
  </div>
</div>
<div class="row-layout image_gallery_section_template_1">
  <div class="row-layout column_layout_2">
    <igx-carousel [vertical]="false" animationType="slide" [interval]="3000" indicatorsOrientation="end" class="carousel_1">
      <igx-slide class="row-layout carousel_slide_1">
        <img src="/assets/Auto%20generated%20image%20for%20aaf861ce-0087-4c29-8c89-a6f93c479e82-9c5919c8-b809-4277-aef0-33777b48b4af.png" alt="" class="image_1" />
      </igx-slide>
      <igx-slide class="row-layout carousel_slide_1">
        <img src="/assets/Auto%20generated%20image%20for%206a6052ac-33fb-4d72-95cd-4afe5d5ccfaf-e2e93261-be17-4351-b706-e235e7151a7c.png" alt="" class="image_1" />
      </igx-slide>
      <igx-slide class="row-layout carousel_slide_1">
        <img src="/assets/Auto%20generated%20image%20for%20a8319f6e-eb98-48a3-87ea-1932a32166d1-509f533f-07c9-430b-a714-fb1d873dee48.png" alt="" class="image_1" />
      </igx-slide>
      <igx-slide class="row-layout carousel_slide_1">
        <img src="/assets/Auto%20generated%20image%20for%203c1073db-08c4-4664-9d3b-549f6c98c906-4696bc6e-5b23-4d6f-a53a-db3eb9d7a6bc.png" alt="" class="image_1" />
      </igx-slide>
      <igx-slide class="row-layout carousel_slide_1">
        <img src="/assets/Auto%20generated%20image%20for%2029f1f983-b910-478e-9864-79ad6116cc10-35acf161-b355-4cac-a7fc-8dc30e69e326.png" alt="" class="image_1" />
      </igx-slide>
      <igx-slide class="row-layout carousel_slide_1">
        <img src="/assets/Auto%20generated%20image%20for%20db581061-f1bb-48d9-af9b-876933ead1dc-ced017ea-a477-4d59-8a1a-1396a965eca5.png" alt="" class="image_1" />
      </igx-slide>
    </igx-carousel>
    <div class="column-layout column_layout_3">
      <h2 class="title_1">
        Какви услуги за 3D печат предлагаме
      </h2>
      <p class="title_2">
        3D принтирането представлява технология за създаване на физически обекти директно от дигитален 3D модел. Чрез постепенно наслагване на материал се постига готов детайл за сравнително кратко време, според неговите размери и сложност.
      </p>
      <p class="title_2">
        Методът се прилага широко както при разработката на прототипи, така и в реално производство в сфери като архитектура, индустриален дизайн, автомобилостроене, авиация, медицина и креативни индустрии. Нашите услуги за 3D печат включват изработка на детайли с различна сложност и размери.
      </p>
      <p class="title_2">
        Едно от основните предимства на 3D принтирането е свободата при формите – възможно е изработването на детайли с почти неограничена геометрия и разнообразни размери. Предлагаме 3D печат на малки серии, прототипи и функционални части с високо качество.
      </p>
    </div>
  </div>
</div>
