:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.price-page-main-column {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 23px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.row-layout {
  display: flex;
}
.pricing-cards-row {
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.card-single-color-basic {
  --header-text-color: var(--ig-primary-100-contrast);
  --subtitle-text-color: var(--ig-primary-100-contrast);
  --content-text-color: var(--ig-primary-100-contrast);
  --actions-text-color: var(--ig-primary-100-contrast);
  --background: var(--ig-primary-100);
  height: max-content;
  min-width: 240px;
  max-width: 280px;
  flex-grow: 1;
  flex-basis: 0;
}
.column-single-color-basic {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.card-multi-color-basic {
  --header-text-color: var(--ig-primary-100-contrast);
  --subtitle-text-color: var(--ig-primary-100-contrast);
  --content-text-color: var(--ig-primary-100-contrast);
  --actions-text-color: var(--ig-primary-100-contrast);
  --background: var(--ig-primary-200);
  height: max-content;
  min-width: 240px;
  max-width: 280px;
  flex-grow: 1;
  flex-basis: 0;
}
.card-single-color-complex {
  --header-text-color: var(--ig-secondary-50-contrast);
  --subtitle-text-color: var(--ig-secondary-50-contrast);
  --content-text-color: var(--ig-secondary-50-contrast);
  --actions-text-color: var(--ig-secondary-50-contrast);
  --background: var(--ig-secondary-50);
  height: max-content;
  min-width: 240px;
  max-width: 280px;
  flex-grow: 1;
  flex-basis: 0;
}
.card-multi-color-complex {
  --header-text-color: var(--ig-secondary-50-contrast);
  --subtitle-text-color: var(--ig-secondary-50-contrast);
  --content-text-color: var(--ig-secondary-50-contrast);
  --actions-text-color: var(--ig-secondary-50-contrast);
  --background: var(--ig-secondary-100);
  height: max-content;
  min-width: 240px;
  max-width: 280px;
  flex-grow: 1;
  flex-basis: 0;
}
.divider-row {
  background-color: var(--ig-gray-400);
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 0;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 100%;
  min-height: 1px;
  max-width: 100%;
  max-height: 1px;
  flex-shrink: 0;
}
.calculator-section {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.calculator-inputs-row {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.weight-input-column {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group {
  justify-content: flex-end;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  height: 90px;
  min-width: 50px;
  min-height: 50px;
  max-height: 90px;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
}
.color-swatches-row {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.content {
  text-align: center;
  height: max-content;
  min-width: min-content;
}
.avatar-single-color-basic {
  --ig-size: var(--ig-size-medium);
  --igx-avatar-background: var(--ig-primary-300);
}
.icon {
  color: var(--ig-primary-500-contrast);
}
.content_1 {
  height: max-content;
  min-width: min-content;
}
.avatar-multi-color-basic {
  --ig-size: var(--ig-size-medium);
  --igx-avatar-background: var(--ig-primary-400);
}
.avatar-single-color-complex {
  --ig-size: var(--ig-size-medium);
  --igx-avatar-background: var(--ig-secondary-300);
}
.icon_1 {
  color: var(--ig-secondary-500-contrast);
}
.weight-icon {
  --size: 36px;
  font-size: 36px;
  width: 36px;
  height: 36px;
}
.avatar-orange {
  --ig-size: var(--ig-size-large);
  --igx-avatar-background: transparent;
}
.avatar-single-color-basic_1::part(base) {
  --igx-avatar-color: var(--ig-primary-500-contrast);
}
.avatar-multi-color-basic_1::part(base) {
  --igx-avatar-color: var(--ig-primary-500-contrast);
}
.avatar-single-color-complex_1::part(base) {
  --igx-avatar-color: var(--ig-secondary-500-contrast);
}
.avatar-single-color-complex_2::part(base) {
  --igx-avatar-color: var(--ig-secondary-500-contrast);
}
.body-content {
  min-width: 50px;
  min-height: 50px;
}
.user-input {
  height: max-content;
  min-width: min-content;
}
