<div class="column-layout price-page-main-column">
  <h2 class="content">
    ЦЕНИ ЗА 3D ПРИНТИРАНЕ
  </h2>
  <p class="content">
    Цена за 10гр (PLA Материал)
  </p>
  <div class="row-layout pricing-cards-row">
    <igx-card class="card-single-color-basic">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar shape="circle" class="avatar-single-color-basic avatar-single-color-basic_1">
            <igx-icon class="icon">
              view_in_ar
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          ЕДНОЦВЕТНО (Базово)
        </h3>
        <h5 igxCardHeaderSubtitle>
          0.80 EURO / 10гр
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <div class="column-layout column-single-color-basic">
          <p class="ig-typography__body-2 content_1">
            Стандартен печат, без сложна обработка.
          </p>
        </div>
      </igx-card-content>
    </igx-card>
    <igx-card class="card-multi-color-basic">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar shape="circle" class="avatar-multi-color-basic avatar-multi-color-basic_1">
            <igx-icon class="icon">
              3d_rotation
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          МНОГОЦВЕТНО (Базово)
        </h3>
        <h5 igxCardHeaderSubtitle>
          1.00 EURO / 10гр
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <div class="column-layout column-single-color-basic">
          <p class="ig-typography__body-2 content_1">
            Много цветове, без сложна обработка.
          </p>
        </div>
      </igx-card-content>
    </igx-card>
    <igx-card class="card-single-color-complex">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar shape="circle" class="avatar-single-color-complex avatar-single-color-complex_1">
            <igx-icon class="icon_1">
              layers
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          ЕДНОЦВЕТНО (+ Труд)
        </h3>
        <h5 igxCardHeaderSubtitle>
          1.25 EURO/ 10гр
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <div class="column-layout column-single-color-basic">
          <p class="ig-typography__body-2 content_1">
            Сложни модели, изискващи почистване на подпори.
          </p>
        </div>
      </igx-card-content>
    </igx-card>
    <igx-card class="card-multi-color-complex">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar shape="circle" class="avatar-single-color-complex avatar-single-color-complex_2">
            <igx-icon class="icon_1">
              palette
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          МНОГОЦВЕТНО (+ Труд)
        </h3>
        <h5 igxCardHeaderSubtitle>
          1.5 EURO / 10гр
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <div class="column-layout column-single-color-basic">
          <p class="ig-typography__body-2 content_1">
            Сложни многоцветни модели, изискващи повече внимание.
          </p>
        </div>
      </igx-card-content>
    </igx-card>
  </div>
  <div class="row-layout divider-row"></div>
  <div class="column-layout calculator-section">
    <h4 class="content">
      БЪРЗ КАЛКУЛАТОР
    </h4>
    <div class="row-layout calculator-section">
      <div class="column-layout weight-input-column">
        <igx-icon class="weight-icon">
          scale
        </igx-icon>
        <igx-input-group type="border" class="user-input">
          <input type="number" [ngModel]="value" placeholder="100" igxInput (ngModelChange)="value = stringToNumber($event)" />
          <label igxLabel>Общо Грамове</label>
        </igx-input-group>
      </div>
      <div class="column-layout group">
        <div class="row-layout group_1">
          <p class="content_1">
            /
          </p>
          <p class="content_1">
            10
          </p>
          <p class="content_1">
            X
          </p>
        </div>
      </div>
      <div class="column-layout weight-input-column">
        <igx-icon class="weight-icon">
          sell
        </igx-icon>
        <igx-select type="border" [(ngModel)]="value1" class="user-input">
          <igx-select-item value="0.80">
            0.80 Euro
          </igx-select-item>
          <igx-select-item value="1.00">
            1.00 Euro
          </igx-select-item>
          <igx-select-item value="1.25">
            1.25 Euro
          </igx-select-item>
          <igx-select-item value="1.50">
            1.50 Euro
          </igx-select-item>
          <label igxLabel>Цена на Пакета</label>
        </igx-select>
      </div>
      <p class="content_1">
        =
      </p>
      <div class="column-layout weight-input-column">
        <igx-icon class="weight-icon">
          payments
        </igx-icon>
        <h4 class="content_1">
          {{ totalPrice }} Euro
        </h4>
        <p class="ig-typography__body-2 content_1">
          (Крайна Цена)
        </p>
      </div>
    </div>
    <p class="ig-typography__caption content_1">
      (напр., 124гр / 10 * 1.50 = 18.60 Euro)
    </p>
  </div>
  <div class="row-layout divider-row"></div>
  <div class="column-layout calculator-section">
    <h4 class="content">
      НАЛИЧНИ ЦВЕТОВЕ
    </h4>
    <div class="row-layout color-swatches-row">
      <div class="column-layout weight-input-column">
        <igx-avatar src="/assets/Auto generated image for 9e965d76-43bb-4cc0-9a7a-00fcf4f4f8fa-76de8869-605f-4b32-a064-d433f166f1e3.png" shape="circle" class="avatar-orange"></igx-avatar>
        <p class="ig-typography__body-2 content_1">
          Оранжево
        </p>
      </div>
      <div class="column-layout weight-input-column">
        <igx-avatar src="/assets/Auto generated image for 18dfca18-e335-4928-90d5-ebd3b35555b5-560a52a1-4370-441a-ade5-7acd2e759690.png" shape="circle" class="avatar-orange"></igx-avatar>
        <p class="ig-typography__body-2 content_1">
          Лилаво
        </p>
      </div>
      <div class="column-layout weight-input-column">
        <igx-avatar src="/assets/Auto generated image for 23a34c67-82e6-40ee-8176-772b8598a10d-416f2e8f-78c0-4f5f-9531-ec07ad007f3f.png" shape="circle" class="avatar-orange"></igx-avatar>
        <p class="ig-typography__body-2 content_1">
          Сиво-синьо
        </p>
      </div>
      <div class="column-layout weight-input-column">
        <igx-avatar src="/assets/Auto generated image for 9dd1128d-b30c-4cd5-8683-0ca548892a5a-c726d54f-a69b-414a-99e9-999203613342.png" shape="circle" class="avatar-orange"></igx-avatar>
        <p class="ig-typography__body-2 content_1">
          Пясък-перла
        </p>
      </div>
      <div class="column-layout weight-input-column">
        <igx-avatar src="/assets/Auto generated image for a4816c79-82cb-40f3-95e1-9ea1f454d882-9f1ea73f-669a-4fd8-ba6c-5c519c78e796.png" shape="circle" class="avatar-orange"></igx-avatar>
        <p class="ig-typography__body-2 content_1">
          Бяло
        </p>
      </div>
      <div class="column-layout weight-input-column">
        <igx-avatar src="/assets/Auto generated image for 902d11cc-abb2-475c-acb6-d1c6e14fd924-d7a24832-5257-4646-a0c0-53b04a38affb.png" shape="circle" class="avatar-orange"></igx-avatar>
        <p class="ig-typography__body-2 content_1">
          Жълто
        </p>
      </div>
      <div class="column-layout weight-input-column">
        <igx-avatar src="/assets/Auto generated image for ce6479fc-7167-4df3-abfb-e2d8e063bbb1-ee4a6898-fdc4-42a4-ac67-9bf9990ab2f4.png" shape="circle" class="avatar-orange"></igx-avatar>
        <p class="ig-typography__body-2 content_1">
          Розово
        </p>
      </div>
    </div>
  </div>
</div>
